.loading {
  .fa-spinner {
    font-size: 3em;
  }
}

.navbar {
  background: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #eee;
  
  .nav li {
    border-bottom: 3px solid transparent;
    transition: all 300ms ease;
    
    &:hover, &:focus {
      border-color: $main;
    }
  }
}

.upcoming-title {
  h1 {
    font-weight: 300;
  }
}

// buttons
.btn-assignment {
  font-size: 1.15em !important;
  padding: .25em 1em;
  background: transparent;
  color: #888;
  border: 1px solid #333;
  transition: all 400ms ease;
  
  &:hover, &:focus {
    background: #333;
    color: #fff;
  }
}

.overdue {
  font-size: 1.15em;
  background: #D32F2F;
  border: 1px solid #D32F2F;
  padding: .25em 1em;
  color: #fff;
  #sad-face {
    // margin-left: .5em;
  }
}
