
<div class="container">
  <div class="jumbotron">
    <h1>Welcome,</h1>
    <p class="lead">
      This website will serve as the home website for the class!
    </p>
    <p><a class="btn-lg btn-success" ng-href="#/assignments">Check Assignments</a></p>
  </div>

  <div class="row">
    <div class="col-lg-12 upcoming-title">
      <h1>Upcoming Assignments</h1>
      <p>
        dolor sit amet, consectetur adipisicing elit. Assumenda ex in, nisi ducimus quidem. Nemo inventore quod aspernatur eaque recusandae libero eum molestias, cumque hic facere, ipsa earum reiciendis quis.
      </p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 post-list light divided">
      <div class="post-item">
        <div class="post-item__date">
          <div class="month">JUL</div>
          <div class="day">25</div>
        </div>
        <div class="post-item__title">
          <a href="#">Assignment Title</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, quo iste reiciendis quia, repudiandae cum soluta numquam libero nam atque.</p>
          <a class="btn-assignment" ng-href="#/assignments">See</a>
          <span class="overdue">OVERDUE<i class="fa fa-sad" id="sad-face"></i></span>
        </div>
      </div>
    </div>
  </div> <!-- row -->

  <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
</div>
